$primary-font: 'Gloria Hallelujah', sans-serif;  
$secondary-font: 'Dosis', sans-serif;  
$footer-height: 45px;


.navbar-header .navbar-brand {
  font-weight: 100; 
  font-size: 25px;
  letter-spacing: 2px;
  font-family: 'Lobster', cursive;
}

.navbar-nav{
  font-size: 15px;
}

html,
body {
  height: 100%;
  background-color:	#DCDCDC;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -$footer-height;
  /* Pad bottom by footer height */
  padding: 0 0 $footer-height;
}

/* Set the fixed height of the footer here */
.footer {
  height: $footer-height;
}
.table{
    width: 100%;
    margin-top: 30px;
    margin-left: 60px;
}
.table thead{
  font-size: 20px;
}
.table tbody{
  font-size: 15px;
}
.calculation{
  margin-left: 60px;
}
.container{
  margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.formaction{
  margin: 40px;
}